{% extends "layouts/base.html" %}
{% load lock_extras %}
{% block title %} 位置列表 {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="page-header">
                <div class="page-block">
                    <!-- Title -->
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">位置管理</h5>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <br>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ basic-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>总共 {{ count_total }} 个位置</h5>
                                </div>

                                {% show_messages %}

                                <div class="card-block ">
                                    <div class='row'>
                                        <!-- 排序 -->
                                        <div class="col-6">
                                            <b>排序方式 : - </b>
                                            <a href="{% url 'location_list' %}?search={{ search }}&orderby=id"
                                               class="badge badge-secondary">Id</a> |
                                            <a href="{% url 'location_list' %}?search={{ search }}&orderby=name"
                                               class="badge badge-secondary">名称</a> |
                                            <a href="{% url 'location_list' %}?search={{ search }}&orderby=created_at"
                                               class="badge badge-secondary">创建时间</a>
                                        </div>
                                        <!-- 搜索 -->
                                        <div class="col-6">
                                            <form class="form-inline mb-2">
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="search" ,
                                                           id='search' ,
                                                           placeholder="搜索 名称" ,
                                                           value={{ search }}
                                                    >
                                                </div>
                                                <button type="submit" class="btn btn-secondary mb-2 btn-sm">搜索</button>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="table-responsive table-hover">
                                        <!-- Table -->
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>名称</th>
                                                <th>创建时间</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for location in locations %}
                                                <tr>
                                                    <th scope="row">{{ location.id }}</th>
                                                    <td>{{ location.name }}</td>
                                                    <td>{{ location.created_at|date:"Y-m-d H:i" }}  </td>
                                                    <td><a href="{% url 'location_delete' location.pk %}"
                                                           class="badge badge-danger"><i
                                                            class="feather icon-trash-2"></i>&nbsp;删除</a></td>
                                                </tr>
                                            {% endfor %}


                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <!-- Add button -->
                                        <div class='col-4'>
                                            <a href="{% url 'location_create' %}" class='btn btn-primary'>添加新位置</a>
                                        </div>
                                        <!-- Paginations -->
                                        <div class='col-8'>
                                            {% show_pagination %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
